html{
    overflow-x: hidden;
  }
  .main-panel {
    position: relative;
    width: calc(100% - 265px);
    height: 100vh;
    min-height: 100%;
    float: left;
    transition: all .3s;
  }

  
 

  .sidebar, .sidebar[data-background-color=white] {
    left: unset;
    right: 0; 
  }

  .logo-header .nav-toggle {
      right: unset;
      left: 18px;
      
  }
  .nav-secondary{
    padding-right: 0px;
  }

  @media (min-width: 768px) {
      .ms-md-auto {
        margin-left: 0px !important;
      }
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: 0;
    right: auto;
    z-index: 1001;
}

.dropdown-user {
  width: 190px;
}

.user-box {
  display: inline-block;
}


.card-stats .col-icon {
  margin-right: 15px;
}


.ms-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}